// header-footer color
$header-bg-color: #f7ebe5;
$footer-color: #ebedee;

// text color
$primary-text-color: #292929;
$secondary-text-color: #000;
$top-menu-text-color: rgba(0, 0, 0, 0.79);
$bottom-menu-text-color: #2b1414;

// components color
$logo-bg: #b3d9f3;
$accent-color: #e7426a;
$button-colot: #4e9dd3;

// section bgc
$section-bg-color: #f7f7f7;
$white-color: #fff;

// hero
$hero-bgc-1: rgba(111, 217, 251, 0.6);
$hero-bgc-2: rgba(194, 226, 255, 0.36);
$hero-bgc-3: rgba(255, 168, 241, 0.37);
$hero-bgc-4: rgba(200, 222, 255, 0.37);
$hero-bgc-5: rgba(152, 224, 194, 0.38);
$hero-bgc-6: rgba(255, 217, 196, 0.61);

// предложения
