$white-color: #fff;
$primary-text-color: #292929;
$secondary-text-color: #2b1414;
$menu-text-color: rgba(0, 0, 0, 0.79);
$logo-bg-color: #b3d9f3;
$primary-bg-color: #f7f7f7;
$accent-color: #e7426a;
$footer-color: #ebedee;
$primary-menu-color: #f7ebe5;
